
body{
    background-color: lime;
}
/*--------------HEADING------------*/
.nav{
display: flex;
font-size: 20px;
justify-content: space-between;
color: purple;
}

.scores{

}

.timer{

}

.timetex{

}

.timenum{

}
/*-------- CENTERPIECE -------- */
.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    padding-top: 100px;
    color: purple;
}

.title{
text-align: center;
}

.para{
text-align: center;
}

.start{
text-align: center;
font-size: 24px;
}

/*-------END SCREEN------*/

#end-screen{
    height: 200px;
    background-color: lime;
    text-align: center;
    font-size: 24px;
    color: purple;
}

.finished{
    
}

/*-------HIGHSCORES-------*/

.go-back{
    background-color: purple;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 30px;
}

#clear{
    background-color: purple;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 30px;
}