

/*--------------HEADING------------*/
.nav{
display: flex;
font-size: 20px;
justify-content: space-between;
}

.scores{

}

.timer{

}

.timetex{

}

.timenum{

}
/*-------- CENTERPIECE -------- */
.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    padding-top: 100px;
}

.title{
text-align: center;
}

.para{
text-align: center;
}

.start{
text-align: center;
}