
body{
    background-color: lime;
}
/*--------------HEADING------------*/
.nav{
display: flex;
font-size: 20px;
justify-content: space-between;
color: purple;
}

.scores{

}

.timer{

}

.timetex{

}

.timenum{

}
/*-------- CENTERPIECE -------- */
.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    padding-top: 100px;
    color: purple;
}

.title{
text-align: center;
}

.para{
text-align: center;
}

.start{
text-align: center;
font-size: 24px;
}

/*-------END SCREEN------*/

#end-screen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    padding-top: 100px;
    color: purple;
    background-color: blue;
}